<!DOCTYPE html>
<html>
  <head>
    <title>PS5 or Xbox???</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
  </head>
  <body>
    <h1 id="title">
      <span style="color: #3c88fb">PS5</span>,
      <span style="color: #107c10">Xbox</span>, or
      <span style="color: #e60012">Switch</span>???
    </h1>
    <div id="counter">
      <h2>
        <span id="isWinning"> <%- votes.winning %> </span>
      </h2>
      <h3>
        PS5:
        <span id="option1Voters"> <%- votes.option1Voters %> </span>
      </h3>
      <h3>
        Xbox:
        <span id="option2Voters"> <%- votes.option2Voters %> </span>
      </h3>
      <h3>
        Switch:
        <span id="option3Voters"> <%- votes.option3Voters %> </span>
      </h3>
    </div>

    <% if (loggedIn) { %>
    <div id="vote-container">
      <div id="vote">
        <% if (userAlreadyVoted) { %>
        <h3>You've already voted!</h3>
        <% } else { %>
        <h2>Vote:</h2>
        <h3>You can only vote once!</h3>
        <div id="options">
          <div id="option1Btn" class="option-btn">
            <img src="/assets/ps5.png" alt="PS5" />
            <p>PlayStation 5</p>
          </div>
          <div id="option2Btn" class="option-btn">
            <img src="/assets/xbox.png" alt="Xbox Series X" />
            <p>Xbox Series X</p>
          </div>
          <div id="option3Btn" class="option-btn">
            <img src="/assets/switch.png" alt="Nintendo Switch OLED Model" />
            <p>Nintendo Switch OLED Model</p>
          </div>
        </div>
        <h3 id="loading"></h3>
        <% } %>
      </div>
    </div>
    <% } else { %>
    <div id="login">
      <h2>Please login to vote.</h2>
      <button onclick="LoginWithReplit();">Login</button>
      <p id="login-description">
        The only reason why you need to log in is to prevent people from
        spam-clicking votes. Your user id will be encrypted in the database and
        therefore will remain hidden to the public.
      </p>
    </div>
    <% } %>

    <script src="index.js"></script>
  </body>
</html>
